<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nerdy</title>
    <!-- <link href="../back/app/assets/component.css" rel="stylesheet"/> -->
    <!-- <link href="../back/app/assets/app.css" rel="stylesheet"/> -->
    <!-- <link href="../back/app/assets/iconfont.css" rel="stylesheet"/> -->
</head>
<body>

    <div id="root"></div>
    <script>
    </script>
    <script>
        window.href_click = function (e,obj) {
            console.info(obj)
            e.preventDefault()
        };
        // const parse = require('../assets/marked.js')
        // window.markdown = {parse};
//        window.CodeMirror = require('../assets/test/test.js');
        // window.message = require('../web/message/index');
        require('@.root.src');
    </script>


</body>
</html>
